.calculator {
  width: 500px;
  height: ;
  margin: 100px auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
  width: calc(100% - 12px);
  height: 48px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 20px;
  border: 1.5px solid rgba(77, 77, 77, 0.447)  ;
  border-radius: 3px;
  outline: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #e7e6e6;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e9ecef;
  color: black;
}

.operator {
  background-color: #969293;
  color: #fff;
}

.calculate {
  background-color: #007bff;
  color: #fff;
}
